[submodule "Packages/voxell.vectorgraphics"]
	path = Packages/voxell.vectorgraphics
	url = https://github.com/voxell-tech/UnityGPUVectorGraphics
[submodule "Packages/voxell.util"]
	path = Packages/voxell.util
	url = https://github.com/voxell-tech/UnityUtil
